button:hover{
    background-color: darkgrey;
}

.full-page {
  height: 100vh;       /* 100% of the viewport height */
  width: 100vw;        /* 100% of the viewport width */
  background-color: darkblue; /* Just an example */
  display: flex;       /* Optional: flexbox for centering */
  justify-content: center;
  align-items: center;
  text-align: center;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.image-row {
  display: flex;
  gap: 10px; /* space between images */
  align-items: center; /* vertical alignment */
}

.normal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px; /* space between heading and image */
}

#GoToNoodlePage div {
    font-size: 24px;   /* Make the text bigger */
    font-weight: bold;  /* Optional: makes it stand out */
    text-align: center; /* Keeps the text centered */
}

#GoToPotatoPage div {
    font-size: 24px;   /* Make the text bigger */
    font-weight: bold;  /* Optional: makes it stand out */
    text-align: center; /* Keeps the text centered */
}

#GoToComforts div {
    font-size: 24px;   /* Make the text bigger */
    font-weight: bold;  /* Optional: makes it stand out */
    text-align: center; /* Keeps the text centered */
}

#GoToMain div {
    font-size: 24px;   /* Make the text bigger */
    font-weight: bold;  /* Optional: makes it stand out */
    text-align: center; /* Keeps the text centered */
}

